.scatterplotDivContainer {
    height: calc(100% - 30px); /* Account for header */
    border: 1px solid #ccc;
    background: white;
    border-radius: 8px;
}

.brush .selection {
    stroke: none;
    fill: steelblue;
    fill-opacity: 0.3;
}

.markerG {
    cursor: pointer;
}

.markerCircle {
    transition: all 0.3s ease;
}